.header{
    font-family: monospace;
    background-color: papayawhip;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo{
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background-color: white;
    padding: 4px 32px;
}

ul {
    gap: 10px;
    margin: 0;
    padding: 0;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    font-size: 22px;
    background-color: white;
    padding: 8px;
    text-decoration: none;
}

